<section class="intro">
    <h1 class="search-engine">Discover musicians from all over the world!</h1>
    <form action="/artist-search" method="GET" class="search-bar">
    <input type="search" placeholder= "Search for any musician..." name="q" class="entry-field">
        <input type="submit" class="btn btn-dark search-button" value="Search">
    </form>
</section>