<div class="container">
{{#with trackDetails}}
  <h1 class="track-heading">Sneak Peek in {{[0].artists.[0].name}}'s Album:</h1>
{{/with}}
{{#each trackDetails}}
<p class="track-paragraph">{{track_number}} {{name}}</p>
<audio controls>
<source src={{preview_url}} type="audio/mpeg">
Your browser does not support the audio element.
</audio>
{{/each}}
</div>